.colorpalettes {
    background-color: #E63946;
    background-color: #F1FAEE;
    background-color: #A8DADC;
    background-color: #457B9D;
    background-color: #1D3557;
    
}
.endofpage{
    height:0px;
    display:inline-block;
}
.spacer {
    height : 69px;
}
.block {
    position:relative;
    background-color: #457B9D;
    left:30%;
    width:40%;
    padding-block: 1%;
    text-align: center;
    
    border-radius: 10px;
}
.blocktext {
    
    background-color: #457B9D;
    margin-top: -0px;
    margin-left: 20px;
    margin-right: 20px;
}
.header{
    background-color:#FCE38A;
    width:120%;
    left:-10%;
    
    position: relative;
    top: -10px;
}
.center {
    text-align: center;
    /* border :5px solid red; */

}

.left {
    text-align:left;
    /* border :5px solid green; */
    padding-left:30%;
    padding-right:30%
    
}

body {
    
    font-family: 'Helvetica', sans-serif;
    font-size: large;
    
     background-image : url("images/leapfaith.jpg");
}

p {
    font-family: 'Helvetica', sans-serif;
    font-size: medium;    
    display: inline;
    line-height: 2;
}

a {
    display: inline;
    color:#A8DADC;
}

.rounded {

    border: 5px solid black;
    overflow: hidden; 
    border-radius: 5px;
}
p1 {
    text-align: center;
    padding-left: 0px;
    
    color:#F1FAEE;
}
h1{
    color:#F1FAEE;
}
h2{
    color:#F1FAEE;
}
h3{
    color:#A8DADC
}
