a.blind-link {
    color: black
}


div.letter-paper-padding {
    padding-left: 15vw; /*10% viewport width*/
    padding-right: 15vw;
}

p.center {
    text-align: center;
}
p.small {
    font-size: small;
}

h1 {
    text-align: center;
}


hr.solid {
    border-top: 2px solid black;
}

body {
    font-family: 'Roboto Mono', monospace;
}
div.centered {
    align-content: center;
    text-align: center;
}


iframe.mobile {
    width: 80%;
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}